补充财务报告公告日期

In [1]:
import pandas as pd

In [2]:
from cswd.tasks.report_dates import BookReportDate

In [3]:
brd = BookReportDate()

In [4]:
dates = brd.data

In [5]:
dates.columns

Index(['报告期', '首次预约', '第一次变更', '第二次变更', '第三次变更', '实际披露', 'orgId', '股票代码',
       '股票简称'],
      dtype='object')

In [6]:
col_names = ['report_end_date','b0_date','b1_date','b2_date','b3_date','timestamp','code']

In [7]:
dates.drop(['orgId','股票简称'], axis=1, inplace=True)

In [8]:
dates.columns = col_names

In [9]:
for col in col_names:
    if col != 'code':
        dates[col] = dates[col].map(lambda x : pd.Timestamp(x).date())

In [10]:
dates.head()

  report_end_date     b0_date     b1_date b2_date b3_date   timestamp    code
0      2009-06-30  2009-08-21         NaT     NaT     NaT  2009-08-21  000001
1      2009-06-30  2009-08-04         NaT     NaT     NaT  2009-08-04  000002
2      2009-06-30  2009-08-15         NaT     NaT     NaT  2009-08-15  000004
3      2009-06-30  2009-08-28         NaT     NaT     NaT  2009-08-28  000005
4      2009-06-30  2009-08-01  2009-08-12     NaT     NaT  2009-08-12  000006

In [11]:
preprocessed_dates = dates

In [20]:
from zipline.pipeline.fundamentals.base import STOCK_DB
from odo import odo
from cswd.sql.constants import BALANCESHEET_ITEM_MAPS

In [21]:
table = 'balance_sheets'
maps = BALANCESHEET_ITEM_MAPS

In [16]:
expr = STOCK_DB[table]

In [18]:
df = odo(expr, pd.DataFrame)

In [22]:
df.drop(['更新时间', '序号', '公告日期'], axis=1, inplace=True)
df.rename(columns={'股票代码': 'code', '报告日期': 'report_end_date'}, inplace=True)
df.rename(columns={v: k for k, v in maps.items()}, inplace=True)

In [28]:
out = df.merge(preprocessed_dates, how='left', on=['code','report_end_date'])

In [44]:
out.loc[out.code == '600645',['report_end_date','b0_date','b1_date','timestamp','asof_date']]

       report_end_date     b0_date     b1_date   timestamp   asof_date
82034       2006-12-31         NaN         NaN         NaN  2007-02-14
82035       2007-03-31         NaN         NaN         NaN  2007-05-15
82036       2007-06-30         NaN         NaN         NaN  2007-08-14
82037       2007-09-30         NaN         NaN         NaN  2007-11-14
82038       2007-12-31         NaN         NaN         NaN  2008-02-14
82039       2008-03-31  2008-04-21  2008-04-30  2008-04-30  2008-04-30
82040       2008-06-30  2008-08-18  2008-08-30  2008-08-30  2008-08-30
82041       2008-09-30  2008-10-30         NaT  2008-10-30  2008-10-30
82042       2008-12-31  2009-03-30         NaT  2009-03-30  2009-03-30
82043       2009-03-31  2009-04-21  2009-04-29  2009-04-29  2009-04-29
82044       2009-06-30  2009-08-31         NaT  2009-08-31  2009-08-31
82045       2009-09-30  2009-10-26  2009-10-30  2009-10-30  2009-10-30
82046       2009-12-31  2010-04-29         NaT  2010-04-29  2010-04-29
82047       2010-03-31  2010-04-29         NaT  2010-04-29  2010-04-29
82048       2010-06-30  2010-08-23         NaT  2010-08-23  2010-08-23
82049       2010-09-30  2010-10-25  2010-10-30  2010-10-30  2010-10-30
82050       2010-12-31  2011-04-16  2011-04-30  2011-04-30  2011-04-30
82051       2011-03-31  2011-04-30         NaT  2011-04-30  2011-04-30
82052       2011-06-30  2011-08-27         NaT  2011-08-27  2011-08-27
82053       2011-09-30  2011-10-29         NaT  2011-10-29  2011-10-29
82054       2011-12-31  2012-01-20  2012-02-18  2012-02-18  2012-02-18
82055       2012-03-31  2012-04-23  2012-04-28  2012-04-28  2012-04-28
82056       2012-06-30  2012-08-31         NaT  2012-08-31  2012-08-31
82057       2012-09-30  2012-10-31  2012-10-20  2012-10-20  2012-10-20
82058       2012-12-31  2013-03-30  2013-04-13  2013-04-13  2013-04-13
82059       2013-03-31  2013-04-27         NaT  2013-04-27  2013-04-27
82060       2013-06-30  2013-08-24  2013-08-17  2013-08-17  2013-08-17
82061       2013-09-30  2013-10-31         NaT  2013-10-31  2013-10-31
82062       2013-12-31  2014-04-26  2014-04-18  2014-04-18  2014-04-18
82063       2014-03-31  2014-04-30  2014-04-18  2014-04-18  2014-04-18
82064       2014-06-30  2014-08-09  2014-08-20  2014-08-20  2014-08-20
82065       2014-09-30  2014-10-25         NaT  2014-10-25  2014-10-25
82066       2014-12-31  2015-04-18  2015-04-28  2015-04-28  2015-04-28
82067       2015-03-31  2015-04-25  2015-04-28  2015-04-28  2015-04-28
82068       2015-06-30  2015-08-29         NaT  2015-08-29  2015-08-29
82069       2015-09-30  2015-10-31         NaT  2015-10-31  2015-10-31
82070       2015-12-31  2016-04-23  2016-04-30  2016-04-30  2016-04-30
82071       2016-03-31  2016-04-23  2016-04-30  2016-04-30  2016-04-30
82072       2016-06-30  2016-08-26         NaT  2016-08-26  2016-08-26
82073       2016-09-30  2016-10-28         NaT  2016-10-28  2016-10-28
82074       2016-12-31  2017-04-13  2017-04-29  2017-04-29  2017-04-29
82075       2017-03-31  2017-04-29         NaT  2017-04-29  2017-04-29
82076       2017-06-30  2017-08-31         NaT  2017-08-31  2017-08-31
82077       2017-09-30  2017-10-31         NaT  2017-10-31  2017-10-31
101503      2017-12-31  2018-04-18  2018-04-26  2018-04-26  2018-04-26
101504      2018-03-31  2018-04-28  2018-04-26  2018-04-26  2018-04-26

In [38]:
has_announcement_date = ~out['timestamp'].isna()

In [39]:
# 先赋值为报告截止日期后45天
out['asof_date'] = out['report_end_date'] + pd.Timedelta(days=45)

In [40]:
# 修正实际公告日期
out.loc[has_announcement_date, 'asof_date'] = out.loc[has_announcement_date,'timestamp']

In [41]:
out.head()

,code,report_end_date,A001,A002,A003,A004,A005,A006,A007,A008,...,A105,A106,A107,A108,b0_date,b1_date,b2_date,b3_date,timestamp,asof_date
0,000001,2004-12-31,1910729.0,NaN,269145.0,95961.0,NaN,NaN,NaN,NaN,...,429677.0,NaN,429677.0,19785560.0,2005-04-15,2005-04-29,2005-04-26,NaT,2005-04-27,2005-04-27
1,000001,2005-12-31,2175970.0,NaN,328495.0,84759.0,573.0,NaN,NaN,NaN,...,505441.0,NaN,505441.0,22232469.0,2006-04-01,NaT,NaT,NaT,2006-04-01,2006-04-01
2,000001,2006-06-30,1778042.0,0.0,510777.0,88909.0,74.0,0.0,0.0,0.0,...,559204.0,0.0,559204.0,24282388.0,NaN,NaN,NaN,NaN,NaN,2006-08-14
3,000001,2006-09-30,1962680.0,0.0,474736.0,53638.0,153.0,0.0,0.0,0.0,...,605395.0,0.0,605395.0,24623028.0,NaN,NaN,NaN,NaN,NaN,2006-11-14
4,000001,2006-12-31,2628818.0,NaN,336918.0,42736.0,2276.0,NaN,NaN,NaN,...,659704.0,NaN,659704.0,26076069.0,NaN,NaN,NaN,NaN,NaN,2007-02-14