# 财务数据

**财务数据默认为报告期后45天为公布日期**

In [1]:
from zipline.pipeline.fundamentals import Fundamentals
from zipline.research import run_pipeline
from zipline.pipeline import Pipeline

## 资产负债表

### 科目含义

In [2]:
Fundamentals.balancesheet_col_name('A001')

'货币资金'

In [3]:
Fundamentals.balancesheet_col_name('A108')

'负债和所有者权益或股东权益总计'

### 科目编码

In [4]:
Fundamentals.query_balancesheet_code('投资')

{'A028': '持有至到期投资',
 'A030': '长期股权投资',
 'A031': '其他长期投资',
 'A032': '投资性房地产',
 'A101': '未确定的投资损失'}

### 运行

In [5]:
def make_pipeline():

    latest_fund = Fundamentals.balance_sheet.A001.latest
    total_asset = Fundamentals.balance_sheet.A108.latest

    return Pipeline(columns={
        'latest_fund': latest_fund,
        'total_asset': total_asset
    })

In [6]:
# 此时返回2017年三季度数据
result = run_pipeline(make_pipeline(), '2017-12-29', '2017-12-31')
result.head()

                                        latest_fund  total_asset
2017-12-29 00:00:00+00:00 平安银行(000001)   27970600.0  313748100.0
                          万 科Ａ(000002)    9435263.0  101838199.0
                          国农科技(000004)      11831.0      24121.0
                          世纪星源(000005)       5850.0     279287.0
                          深振业Ａ(000006)     387660.0    1322269.0

In [7]:
# 此时返回2017年年度数据
result = run_pipeline(make_pipeline(), '2018-2-15', '2018-3-30')
result.head()

                                        latest_fund  total_asset
2018-02-22 00:00:00+00:00 平安银行(000001)   31021200.0  324847400.0
                          万 科Ａ(000002)   17412101.0  116534692.0
                          国农科技(000004)      11831.0      24121.0
                          世纪星源(000005)       5850.0     279287.0
                          深振业Ａ(000006)     302413.0    1313993.0

## 利润表

In [8]:
Fundamentals.profit_col_name('A001')

'营业总收入'

In [9]:
Fundamentals.query_profit_code('每股')

{'A044': '基本每股收益', 'A045': '稀释每股收益'}

In [10]:
def make_pipeline():

    eps = Fundamentals.profit_statement.A044.latest
    income = Fundamentals.balance_sheet.A001.latest

    return Pipeline(columns={
        '基本每股收益': eps,
        '营业总收入': income
    })

In [11]:
result = run_pipeline(make_pipeline(), '2016-04-10', '2018-04-10')
result.head()

                                        基本每股收益       营业总收入
2016-04-11 00:00:00+00:00 平安银行(000001)    1.56  29171500.0
                          万 科Ａ(000002)    1.64   5318038.0
                          国农科技(000004)    0.01      5152.0
                          世纪星源(000005)   -0.06     16299.0
                          深振业Ａ(000006)    0.31    177870.0