In [1]:
from zipline.pipeline.fundamentals.reader import Fundamentals
from zipline.pipeline.builtin import TradingDays,QTradableStocks
from zipline.research import run_pipeline, select_output_by
from zipline.pipeline import Pipeline
from zipline.pipeline.data import USEquityPricing
from zipline.pipeline.factors import SimpleMovingAverage

In [2]:
from zipline.pipeline.builtin import IsNewShare,NDays

In [3]:
def make_pipeline():
    #base_universe = QTradableStocks()
    ndays = NDays()

    return Pipeline(
        columns={
            '上市天数': ndays,
        }, 
        screen=IsNewShare()
    )

In [4]:
result = run_pipeline(make_pipeline(), '2018-1-20', '2018-4-26')

In [10]:
select_output_by(result,stock_codes='603214') #['600645','603103','603214','603876'])

                                       上市天数
2018-04-02 00:00:00+00:00 爱婴室(603214)   3.0
2018-04-03 00:00:00+00:00 爱婴室(603214)   4.0
2018-04-04 00:00:00+00:00 爱婴室(603214)   5.0
2018-04-10 00:00:00+00:00 爱婴室(603214)  11.0
2018-04-11 00:00:00+00:00 爱婴室(603214)  12.0
2018-04-12 00:00:00+00:00 爱婴室(603214)  13.0
2018-04-13 00:00:00+00:00 爱婴室(603214)  14.0
2018-04-16 00:00:00+00:00 爱婴室(603214)  17.0
2018-04-17 00:00:00+00:00 爱婴室(603214)  18.0
2018-04-18 00:00:00+00:00 爱婴室(603214)  19.0
2018-04-19 00:00:00+00:00 爱婴室(603214)  20.0
2018-04-20 00:00:00+00:00 爱婴室(603214)  21.0
2018-04-23 00:00:00+00:00 爱婴室(603214)  24.0
2018-04-24 00:00:00+00:00 爱婴室(603214)  25.0
2018-04-25 00:00:00+00:00 爱婴室(603214)  26.0
2018-04-26 00:00:00+00:00 爱婴室(603214)  27.0

In [6]:
import pandas as pd

In [7]:
ipo = pd.Timestamp('2009-10-30')

In [8]:
pd.Timestamp('today') - ipo

Timedelta('3101 days 22:29:11.034301')