In [1]:
from zipline.data.loader import load_market_data

In [3]:
a,b = load_market_data(bm_symbol='000300')

In [4]:
a.head()

2002-01-07 00:00:00+00:00   -0.010923
2002-01-08 00:00:00+00:00   -0.007196
2002-01-09 00:00:00+00:00   -0.015518
2002-01-10 00:00:00+00:00    0.006765
2002-01-11 00:00:00+00:00   -0.024546
dtype: float64

In [5]:
b.head()

,1month,3month,6month,1year,2year,3year,5year,7year,10year,20year,30year
2002-01-07 00:00:00+00:00,0.028534,0.017577,0.015891,0.0168,0.018426,0.020052,0.02364,0.02632,0.029,0.0346,0.035
2002-01-08 00:00:00+00:00,0.028534,0.017577,0.015891,0.0168,0.018426,0.020052,0.02364,0.02632,0.029,0.0346,0.035
2002-01-09 00:00:00+00:00,0.028534,0.017577,0.015891,0.0168,0.018426,0.020052,0.02364,0.02632,0.029,0.0346,0.035
2002-01-10 00:00:00+00:00,0.028534,0.017577,0.015891,0.0168,0.018426,0.020052,0.02364,0.02632,0.029,0.0346,0.035
2002-01-11 00:00:00+00:00,0.028534,0.017577,0.015891,0.0168,0.018426,0.020052,0.02364,0.02632,0.029,0.0346,0.035