<div class="burk">
勉强能使用，需要进一步完善</div><i class="fa fa-lightbulb-o "></i>

# 运行

In [1]:
from zipline.pipeline import Pipeline
from zipline.pipeline.data.fundamentals import STOCK_DB, Fundamentals
from zipline.pipeline.data import USEquityPricing
from zipline.pipeline.filters import StaticSids

In [2]:
from zipline.component.research import run_pipeline

In [3]:
from zipline.pipeline.filters.builtin import make_us_equity_universe

In [4]:
def make_pipeline():
    rankby = USEquityPricing.cmv.latest
    groupby = Fundamentals.cninfo.sector.latest
    return Pipeline(
        columns = {
            'value':make_us_equity_universe(110,rankby,groupby),
        },
        #screen = StaticSids([1,2])
    )

In [5]:
df = run_pipeline(make_pipeline(), '2017-11-30','2017-11-30')

In [6]:
stocks = df.reset_index(0, True)

In [7]:
stocks = stocks.index[stocks.value == True]

In [8]:
to_codes = lambda x:int(x)

In [9]:
def make_pipeline():
    groupby = Fundamentals.cninfo.sector.latest
    return Pipeline(
        columns = {
            'sector':groupby,
        },
        #screen = StaticSids([1,2])
    )

In [10]:
df = run_pipeline(make_pipeline(), '2017-11-30','2017-11-30')

In [11]:
df.reset_index(0, True, inplace=True)

In [12]:
df.index = df.index.map(to_codes)

In [13]:
df.head()

   sector
1     103
2     104
4     206
5     310
6     104

In [14]:
lookup = stocks.map(to_codes)

In [15]:
res = df.loc[lookup]

In [16]:
res.groupby('sector').agg({'sector':'count'})

        sector
sector
101         33
102         33
103         33
104         33
205         33
206         33
207         33
308         33
309         33
310         33
311         33