In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from scipy import stats

In [25]:
fs_df = pd.DataFrame(np.arange(1,26).reshape(5,5).T)

In [26]:
epsilon_sect = pd.Series([1,2,3,4,5])

In [24]:
np.cov(x,epsilon_sect.values)

array([[2.5, 2.5],
       [2.5, 2.5]])

In [15]:
fs_df

   0  1   2   3   4   5
0  0  5  10  15  20  25
1  1  6  11  16  21  26
2  2  7  12  17  22  27
3  3  8  13  18  23  28
4  4  9  14  19  24  29