In [1]:
from zipline.pipeline import Fundamentals

In [2]:
from zipline.pipeline.factors import CustomFactor

In [3]:
from zipline.research import run_pipeline

In [4]:
from zipline.pipeline import Pipeline

In [5]:
from zipline.pipeline.valuation import NOPLAT, FCF

In [16]:
def make_pipeline():
    not_f = Fundamentals.cninfo.sector.latest != 103
    return Pipeline(
        columns = {
            'asof_date':Fundamentals.income_statement.asof_date.latest,
            'noplat':NOPLAT(mask = not_f),
            'fcf':FCF()
        },
        screen = not_f
    )

In [17]:
df = run_pipeline(make_pipeline(), '2017-8-14','2017-8-15')

In [18]:
sid_idx = df.index.get_level_values(1)[-2]
sid_idx

Equity(603998 [方盛制药])

In [19]:
df.xs(sid_idx, level=1)

                           asof_date           fcf       noplat
2017-08-14 00:00:00+00:00 2017-03-31   6599.413245  1941.413245
2017-08-15 00:00:00+00:00 2017-06-30  12637.203255  4546.203255

In [13]:
Fundamentals.query_report_item_code('投资活动产生的现金流量')

     code            name
192  C040   投资活动产生的现金流量净额